.collect-four {
  display: flex;
  justify-content: space-between;

  padding-top: 60px;
  width: 1065px;
  margin: 0 auto;

  &__container {
    position: relative;

    padding-left: 158px;

    &--image {
      img:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 351px;
        z-index: 3;
      }
      img:nth-of-type(2) {
        position: absolute;
        top: 206px;
        left: 131px;
        z-index: 2;
      }
      img:nth-of-type(3) {
        position: absolute;
        top: 477px;
        left: 458px;
      }
      img:nth-of-type(4) {
        position: absolute;
        top: 364px;
        left: 246px;
        z-index: 4;
      }
      img:nth-of-type(5) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      img:nth-of-type(6) {
        position: absolute;
        top: 358px;
        left: 0;
        z-index: 0;
      }
    }
  }


  &__container--image {
    position: relative;
    margin-right: auto;
  }
}