.collect-one {
  padding-left: 212px;
  padding-right: 161px;

  &__title {
    margin: 0 auto;

    font-family: AkzidenzGroteskPro-Light, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
  }

  &__introduction {
    width: 907px;
    height: 411px;

    text-align: left;
    font-family: AkzidenzGroteskPro-Light, sans-serif;
    font-size: 42px;
    line-height: 53px;
    font-weight: 200;
    letter-spacing: 0.8px;
  }
}