.collect-four {

  &__text {
    width: 300px;
  }

  &__date {
    top: 271px;
    left: 449px;
  }

  &__container-image {
    position: absolute;
    top: 130px;
    left: 530px;
  }

  &__img:nth-of-type(1) {
    position: relative;
    z-index: 4;
  }

  &__img:nth-of-type(2) {
    position: absolute;
    top: 79px;
    left: 0;

    z-index: 5;
  }

  &__img:nth-of-type(3) {
    position: absolute;
    top: 0px;
    left: 220px;

    z-index: 4;
  }

  &__img:nth-of-type(4) {
    position: absolute;
    top: 259px;
    left: -130px;
    z-index: 3;
  }

  &__img:nth-of-type(5) {
    position: absolute;
    top: 328px;
    left: 283px;

    z-index: 7;
  }
}