.collect-four {

  &__date {
    top: 190px;
    left: 450px;
  }

  &__container-image {
    position: absolute;
    top: 35px;
    left: 558px;
  }

  &__img:nth-of-type(2) {
    position: absolute;
    top: 79px;
    left: 0;
  }

  &__img:nth-of-type(3) {
    position: absolute;
    top: 4px;
    left: 220px;
  }

  &__img:nth-of-type(4) {
    position: absolute;
    top: 39px;
    left: 220px;
  }

  &__img:nth-of-type(5) {
    position: absolute;
    top: 257px;
    left: -133px;
  }

  &__img:nth-of-type(6) {
    position: absolute;
    top: 236px;
    left: 111px;
  }

  &__img:nth-of-type(7) {
    position: absolute;
    top: 349px;
    left: 323px;
  }
}