.collect-one {
  min-height: 670px;

  .collection__container--one {
    padding-left: 0;
  }

  &__title {
    position: relative;

    margin: 0 auto;
    margin-bottom: 28px;
    width: 238px;

    font-family: AkzidenzGroteskPro-Light, sans-serif;
    font-size: 15px;
    letter-spacing: 3.2px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
  }

  &__introduction pre {

    position: relative;

    width: 872px;
    height: 306px;
    margin: 0 auto;

    text-align: center;
    font-family: AkzidenzGroteskPro-Light, sans-serif;
    font-size: 42px;
    line-height: 53px;
    font-weight: 300;
    letter-spacing: 0.8px;
  }
}