.collect-tree {

  &__collect-date {
    position: absolute;
    left: 449px;
    top: 125px;
  }

  &__image-container {
    position: absolute;
    left: 695px;
    top: 142px;

    .collect-tree__img:nth-of-type(2) {
      position: absolute;
      top: 178px;
      left: -2px;

      z-index: 1;
    }

    .collect-tree__img:nth-of-type(3) {
      position: absolute;
      top: 143px;
      left: -213px;

      z-index: 3;
    }

    .collect-tree__img:nth-of-type(4) {
      position: absolute;
      top: 206px;
      left: -306px;

      z-index: 2;
    }
  }

  //&__img:nth-of-type(4) {
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //
  //  z-index: 1;
  //}
  //
  //&__img:nth-of-type(3) {
  //  position: absolute;
  //  right: 0;
  //  bottom: 0;
  //  z-index: 2;
  //}
  //
  //&__img:nth-of-type(2) {
  //  position: absolute;
  //  top: 250px;
  //  left: 439px;
  //  z-index: 3;
  //}
  //
  //&__img:nth-of-type(1) {
  //  position: absolute;
  //  top: 143px;
  //  left: 532px;
  //  z-index: 4;
  //}
}