section.collection__inner.collect-seven.moving-block.timeline-block
    div.collection__container
        div.collection__text-container
            pre.collection__copyright.
                капсульная коллекция к выставке
                <span class="collection__copyright--italic">Луиз Буржуа в Garage</span>
            pre.collection__text.collect-six__text.
                Браслеты, кольца, серьги, броши
                и колье, всем своим видом напо-
                минающие о творчестве <span class="collection__text--italic">Буржуа</span>
                — совместный проект команды с музе-
                ем <span class="collection__text--italic">Garage.</span> Коллекция показывает,
                как искусство проникает в моду,
                порой меняя наши взгляды на уже
                привычное. Элементы, характерные
                для искусства <span class="collection__text--italic">Луиз Буржуа</span> (а для
                нее творческие практики всегда
                оставались аналогом бесед с пси-
                хологом), прослеживаются в выб-
                ранных художниками формах.
            pre.collection__date.collect-seven__date.
                2016
                ЯНВАРЬ
        div.collect-seven__image-container
            img.collect-seven__img.moved-image(src="coll-seven-1.jpg" width="235" height="338")
            img.collect-seven__img.moved-image(src="coll-seven-2.jpg" width="426" height="284")
            img.collect-seven__img.moved-image(src="coll-seven-3.jpg" width="159" height="106")
            img.collect-seven__img.moved-image(src="coll-seven-4.jpg" width="159" height="106")