section.collection__inner.collect-two.moving-block.timeline-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright
                | фотограф: <span class="collection__copyright--italic">Кирилл Арсеньев</span>
            pre.collection__text.
                Первая съемка коллекции появи-
                лась в 2014 году. Видно, насколько
                она отличается по стилистике от
                нынешних. Вполне логично, что при
                запуске бренда был сделан акцент
                на самих украшениях. Многочислен-
                ные <span class="collection__text--italic">фактуры</span>, природные формы
                подчеркивают самобытность и при-
                родные истоки самих украшений.
                Всё в целом образует гармоничный
                <span class="collection__text--italic">натюрморт,</span> с действительно мёрт-
                вой природой, представленной
                в виде гниющих фруктов и овощей.
            p.collection__date.collect-two__collect-date.
                2014</br>
                ОСЕНЬ</br>
                /</br>
                ЗИМА</br>
        div.collect-two__image-container--right
            img.collect-two__img.moved-image(src="-mg-3283.jpg" width="1018" height="683")
            img.collect-two__img.moved-image(src="-mg-3317.jpg" width="479" height="285")
            img.collect-two__img.moved-image(src="-mg-3417.jpg" width="161" height="108")
        div.collect-two__image-container--bottom
            img.collect-two__img.moved-image(src="-mg-3348.jpg" width="262" height="175")
            img.collect-two__img.moved-image(src="-mg-3723.jpg" width="263" height="175")