section.collection__inner.collect-five.moving-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright.
                фотограф: <span class="collection__copyright--italic">Алиса Донова</span></br>
                модель: <span class="collection__copyright--italic">Аня Павлова</span>
            p.collection__text.collect-five__text.
                Небольшая капсульная коллекция,
                созданная под впечатлением от
                путешествия на Черное море. Не
                просто так это морская коллекция:
                украшения в основном состоят<br>
                из кораллов, обломков ракушек,
                дополненных бирюзой и камнями,
                привезенными из поездки. Нео-
                бычные украшения словно бы соз-
                даны самой природой, будто бы
                волны выплеснули их на берег во
                время прилива. Стилистика съемки
                подчеркивает морскую тематику.
                Приглушенные тона, отблески воды,
                кораллы, модели, которые никогда
                не появляются целиком, создают
                таинственный образ подводного
                мира, который и в наше время
                остается загадкой для человека.
            p.collection__date.collect-five__date.
                2016</br>
                ОСЕНЬ</br>
                /</br>
                ЗИМА
        div.collect-five__image-container
            img.collect-five__img.moved-image(src="coll-five-3.jpg" width="212" height="290")
            img.collect-five__img.moved-image(src="coll-five-4.jpg" width="218" height="256")
            img.collect-five__img.moved-image(src="coll-five-5.jpg" width="371" height="247")
            img.collect-five__img.moved-image(src="coll-five-1.jpg" width="130" height="164")
            img.collect-five__img.moved-image(src="coll-five-2.jpg" width="132" height="164")