section.collect__inner.collect-one.start-timeline.moving-block
    div.collection__container.collection__container--one
        h3.collect-one__title
            | Творчество
        pre.collect-one__blockquote.
            Это так <span class="collection__text--italic">скучно</span> — ювелирные украшения —
            от этих слов я хочу уснуть. Я никогда не хотел
            заниматься ювелиркой, это как быть <span class="collection__text--italic">заживо
            погребённым.</span> А вот произведения искусства
            на руках — это совсем другое дело.
        pre.collect-one__author.
            Александр Ольховский

