section.collection__inner.collect-two.moving-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright
                | Фотограф: <span class="collection__copyright--italic">Люся Жаркова</span>
            p.collection__text.
                Благодаря талантливому фотографу</br>
                Люсе для <span class="collection__text--italic">MW</span> в 2015 году появи-</br>
                лась первая непредметная съемка.</br>
                Она является очень характерной</br>
                по атмосфере и духу самого бренда.</br>
                Принципиально отсутствие какого-</br>
                либо <span class="collection__text--italic">«fashion</span> в данной съемке</br>
                и всех последущих. Девушки, запе-</br>
                чатленные в украшениях, без маки-</br>
                яжа, маникюра и прочего <span class="collection__text--italic">украша-</br>
                тельства,</span> которое встречается</br>
                в стандартных съемках ювелирных</br>
                коллекций. Всё это созвучно с</br>
                украшениями, они созданы из</br>
                совершенно <span class="collection__text--italic">простых</span> материалов,</br>
                но их эстетика и уникальность </br>
                завороживает.
            p.collection__date.collect-tree__collect-date.
                2015</br>
                ВЕСНА</br>
                /</br>
                ЛЕТО</br>
        div.collect-tree__image-container
            img.collect-tree__img.moved-image(src="collect-tree-four.jpg" width="320" height="320")
            img.collect-tree__img.moved-image(src="collect-tree--tree.jpg" width="322" height="322")
            img.collect-tree__img.moved-image(src="collect-tree--one.jpg" width="159" height="159")
            img.collect-tree__img.moved-image(src="collect-tree--two.jpg" width="421" height="323")

