section.collect__inner.collect-two.moving-block
    div.collect-two__container.collect-two__container--left
        div.collect-two__container--inner
            p.collection__copyright
                | Фотограф: <span class="collection__copyright--italic">Кирилл Арсеньев</span>
            p.collection__text.
                Первая съемка коллекции появи-</br>
                лась в 2014 году. Видно, насколько</br>
                она отличается по стилистике от</br>
                нынешних. Вполне логично, что при</br>
                запуске бренда был сделан акцент</br>
                на самих украшениях. Многочислен-</br>
                ные <span class="collection__text--italic">фактуры</span>, природные формы</br>
                подчеркивают самобытность и при-</br>
                родные истоки самих украшений.</br>
                Всё в целом образует гармоничный</br>
                <span class="collection__text--italic">натюрморт,</span> с действительно мёрт-</br>
                вой природой, представленной</br>
                в виде гниющих фруктов и овощей.
        p.collection__date.
            2014</br>
            ОСЕНЬ</br>
            /</br>
            ЗИМА</br>
        img.collect-two__img.moved-image(src="-mg-3348.jpg" width="262" height="175")
        img.collect-two__img.moved-image(src="-mg-3723.jpg" width="263" height="175")
    div.collect-two__container.collect-two__container--right
        img.collect-two__img.moved-image(src="-mg-3283.jpg" width="479" height="292")
        img.collect-two__img.moved-image(src="-mg-3317.jpg" width="479" height="285")
        img.collect-two__img.moved-image(src="-mg-3417.jpg" width="161" height="108")