section.collection__inner.collect-two.moving-block.timeline-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright
                | фотограф: <span class="collection__copyright--italic">Люся Жаркова</span>
            pre.collection__text.
                Благодаря талантливому фотографу
                Люсе для <span class="collection__text--italic">MW</span> в 2015 году появи-
                лась первая непредметная съемка.
                Она является очень характерной
                по атмосфере и духу самого бренда.
                Принципиально отсутствие какого-
                либо <span class="collection__text--italic">«fashion</span> в данной съемке
                и всех последущих. Девушки, запе-
                чатленные в украшениях, без маки-
                яжа, маникюра и прочего <span class="collection__text--italic">украша-
                тельства,</span> которое встречается
                в стандартных съемках ювелирных
                коллекций. Всё это созвучно с укра-
                шениями, они созданы из <span class="collection__text--italic">простых</span>
                материалов, но их эстетика и уни-
                кальность завороживает.
            p.collection__date.collect-tree__collect-date.
                2015</br>
                ВЕСНА</br>
                /</br>
                ЛЕТО</br>
        div.collect-tree__image-container
            img.collect-tree__img.moved-image(src="collect-tree-four.jpg" width="320" height="320")
            img.collect-tree__img.moved-image(src="collect-tree--tree.jpg" width="322" height="322")
            img.collect-tree__img.moved-image(src="collect-tree--one.jpg" width="159" height="159")
            img.collect-tree__img.moved-image(src="collect-tree--two.jpg" width="410" height="410")

