section.collection__inner.collect-five.moving-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright.
                фотограф: Алиса Донова</br>
                модель: Аня Павлова
            p.collection__text.
                Небольшая капсульная коллекция,</br>
                созданная под впечатлением от</br>
                путешествия на Черное море. Не</br>
                просто так это морская коллекция:</br>
                украшения в основном состоят</br>
                из кораллов, обломков ракушек,</br>
                дополненных бирюзой и камнями,</br>
                привезенными из поездки. Нео-</br>
                бычные украшения словно бы соз-</br>
                даны самой природой, будто бы</br>
                волны выплеснули их на берег во</br>
                время прилива. Стилистика съемки</br>
                подчеркивает морскую тематику.</br>
                Приглушенные тона, отблески воды,</br>
                кораллы, модели, которые никогда</br>
                не появляются целиком, создают</br>
                таинственный образ подводного</br>
                мира, который и в наше время</br>
                остается загадкой для человека.
            p.collection__date.collect-five__date.
                2016</br>
                ОСЕНЬ</br>
                /</br>
                ЗИМА
        div.collect-five__image-container
            img.collect-five__img.moved-image(src="coll-five-3.jpg" width="212" height="290")
            img.collect-five__img.moved-image(src="coll-five-4.jpg" width="218" height="256")
            img.collect-five__img.moved-image(src="coll-five-5.jpg" width="371" height="247")
            img.collect-five__img.moved-image(src="coll-five-1.jpg" width="130" height="164")
            img.collect-five__img.moved-image(src="coll-five-2.jpg" width="132" height="164")