section.collection__inner.collect-ten.moving-block.timeline-block
    div.collection__container
        div.collection__text-container
            pre.collection__copyright.
                модель: <span class="collection__copyright--italic">Наташа Ермакова</span>
                фотограф: <span class="collection__copyright--italic">Елизавета Грачева</span>
            pre.collection__text.collect-nein.
                Коллекция созданна к открытию
                нового магазина <span class="collection__text--italic">Амперсанд,</span>
                созданного <span class="collection__text--italic">Mineral weather</span>
                и 5 другими дизайнерами укра-
                шений. Магазин был открыт еще
                в 2016 году, однако в 2018 он
                переехал в новое помещение,
                которое художники смогли офор-
                мить сами, в результате чего было
                создано невероятно красивое,
                уютное и необычное пространство
                для <span class="collection__text--italic">творческих людей.</span> Съемка
                коллекции проходила в новом
                помещении магазина.
            pre.collection__date.collect-ten__date.
                2017
                ОСЕНЬ
                /
                ЗИМА
        div.collect-ten__image-container
            img.collect-ten__img.moved-image(src="coll-10-1.jpg" width="356" height="200")
            img.collect-ten__img.moved-image(src="coll-10-2.jpg" width="295" height="487")
            img.collect-ten__img.moved-image(src="coll-10-3.jpg" width="207" height="117")
            img.collect-ten__img.moved-image(src="coll-10-4.jpg" width="184" height="234")