section.collection__inner.collect-six.moving-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright.
                фотограф: <span class="collection__copyright--italic">Алиса Донова</span></br>
                модель: <span class="collection__copyright--italic">Аня Павлова</span>
            p.collection__text.collect-six__text.
                Необычно снятая и обработанная<br>
                коллекция создана под впечат-<br>
                лением от фильма Сияние, снятого<br>
                <span class="collection__text--italic">Стэнли Кубриком.</span> Съемка передает<br>
                эмоции, испытанные во время<br>
                просмотра. С одной стороны —<br>
                невероятно красивая картинка,<br>
                с другой стороны — растущая по <br>
                мере развития сюжета тревога.<br>
                Девушки, облаченные с головы<br>
                до ног в глухие плотные ткани,<br>
                с обнаженными руками смахивают<br>
                на персонажей из фильмов ужасов.<br>
                А приглушенный свет и шум нагне-<br>
                тают <span class="collection__text--italic">атмосферу тревоги,</span> создавая<br>
                впечатление, что фотограф сам<br>
                попал в сцену из фильма, и сумел<br>
                на телефон заснять персонажей.
            p.collection__date.collect-six__date.
                2016</br>
                ОСЕНЬ</br>
                /</br>
                ЗИМА
        div.collect-six__image-container
            img.collect-six__img.moved-image(src="coll-six-1.jpg" width="181" height="273")
            img.collect-six__img.moved-image(src="coll-six-2.jpg" width="47" height="61")
            img.collect-six__img.moved-image(src="coll-six-3.jpg" width="179" height="188")
            img.collect-six__img.moved-image(src="coll-six-4.jpg" width="178" height="273")
            img.collect-six__img.moved-image(src="coll-six-5.jpg" width="283" height="187")
            img.collect-six__img.moved-image(src="coll-six-6.jpg" width="297" height="198")
            img.collect-six__img.moved-image(src="coll-six-7.jpg" width="68" height="102")