section.collection__inner.collect-nein.moving-block.timeline-block
    div.collection__container
        div.collection__text-container
            pre.collection__copyright.
                модель: <span class="collection__copyright--italic">Кристина Арсеньева</span>
                фотограф: <span class="collection__copyright--italic">Екатерина Туркина</span>
            pre.collection__text.collect-nein.
                В основу коллекции лёг камень
                пирит, который присутствует в боль-
                шинстве украшения. Этот необыч-
                ный минерал также называют золото
                дураков. Из-за его внешней
                схожести с золотом во времена
                золотых лихорадок его часто с ним
                путали. Но у пирита есть удивитель-
                ное свойство, которое отсутствует
                у золота — он высекает искры при
                ударе, за что он и получил свое
                название <span class="collection__text--italic">pyrites lithos</span> — камень,
                высекающий огонь. Еще одна
                особенность — кубическая струк-
                тура минерала, которая делает
                украшения с ним очень эффект-ными
                и необычными.
            pre.collection__date.collect-nein__date.
                2017
                ОСЕНЬ
                /
                ЗИМА
        div.collect-nein__image-container
            img.collect-nein__img.moved-image(src="coll-9-1.jpg" width="217" height="236")
            img.collect-nein__img.moved-image(src="coll-9-2.jpg" width="222" height="334")
            img.collect-nein__img.moved-image(src="coll-9-3.jpg" width="338" height="225")
            img.collect-nein__img.moved-image(src="coll-9-4.jpg" width="171" height="256")
            img.collect-nein__img.moved-image(src="coll-9-5.jpg" width="116" height="174")