section.collect__inner.collect-four.moving-block
    div.collect-four__container
        p.collection__copyright.
            фотограф: <span class="collection__copyright--italic">Екатерина Туркина</span></br>
            модель: <span class="collection__copyright--italic">Анастасия Третьякова</span>
        p.collection__text.
            Осенне — зимняя коллекция была</br>
            снята в полузаброшенной подмос-</br>
            ковной усадьбе <span class="collection__text--italic">Горенки.</span> Во второй</br>
            половине XVIII — начале XIX века</br>
            прекрасная усадьба принадлежала</br>
            семье графов <span class="collection__text--italic">Разумовских.</span> На соз-</br>
            дание этой коллекции украшений</br>
            художников вдохновила тема ста-</br>
            рых графских развалин, контраст-</br>
            ное сочетание изящных <span class="collection__text--italic">коринфских</span></br>
            капителей с брутальностью полураз-</br>
            рушенной обнаженной кирпичной</br>
            кладки. Данные фактуры были</br>
            переосмыслены в соврменной</br>
            реальности и воплощены в  неверо-</br>
            ятные и причудливые формы укра-</br>
            шений, достойные современных</br>
            графов и графинь.
        p.collection__date.
            2015</br>
            ОСЕНЬ</br>
            /</br>
            ЗИМА
    div.collect-four__container--image
        img.collect-four__img.moved-image(src="cont-four-1.jpg" width="309" height="435")
        img.collect-four__img.moved-image(src="cont-four-2.jpg" width="224" height="337")
        img.collect-four__img.moved-image(src="cont-four-3.jpg" width="107" height="160")
        img.collect-four__img.moved-image(src="cont-four-4.jpg" width="160" height="240")
        img.collect-four__img.moved-image(src="cont-four-5.jpg" width="465" height="698")
        img.collect-four__img.moved-image(src="cont-four-6.jpg" width="378" height="252")