section.collection__inner.collect-eight.moving-block.timeline-block
    div.collection__container
        div.collection__text-container
            pre.collection__copyright.
                модель: <span class="collection__copyright--italic">Кира Пиевская</span>
                фотограф: <span class="collection__copyright--italic">Женя Музалевский</span>
            pre.collection__text.collect-eight.
                Необычная для коллекция —
                из серебра с фианитами и аме-
                тистами. Изящные и минималис-
                тичные украшения созданы словно
                бы из костей <span class="collection__text--italic">несуществующих</span>
                животных. Вся съемка сделана на
                белом стерильном фоне, девушки
                —модели облачены во все белое,
                максимально простое и чистое.
                Создается образ сравнимый со сте-
                рильной <span class="collection__text--italic">секретной лабораторией,</span> где
                нет места чему-то показному
                и вычурному. Именно поэтому на
                девушках нет совершенно никакого
                макияжа, они показаны во всей
                естественной красоте.
            pre.collection__date.collect-eight__date.
                2017
                ВЕСНА
                /
                ЛЕТО
        div.collect-eight__image-container
            img.collect-eight__img.moved-image(src="coll-8-1.jpg" width="211" height="217")
            img.collect-eight__img.moved-image(src="coll-8-2.jpg" width="211" height="245")
            img.collect-eight__img.moved-image(src="coll-8-3.jpg" width="201" height="301")
            img.collect-eight__img.moved-image(src="coll-8-4.jpg" width="305" height="235")
            img.collect-eight__img.moved-image(src="coll-8-5.jpg" width="120" height="182")
            img.collect-eight__img.moved-image(src="coll-8-6.jpg" width="271" height="180")