section.collect__inner.collect-one.start-timeline.moving-block
    div.collection__container--one
        h3.collect-one__title
            | Коллекции
        div.collect-one__introduction
            pre.
                <span class="collection__text--italic">Mineral weather</span> не зря позиционирует себя
                как бренд эксперементальных ювелирных
                украшений. Обозначение коллекций условно,
                поскольку украшения создаются стихийно,
                руководствуясь вдохновением и найденными
                материалами.