section.collect__inner.collect-one
    h3.collect__title
        | Коллекции
    div.collection__text
        p.
            <span class="collection__text--italic">Mineral weather</span> не зря позиционирует себя</br>
            как бренд эксперементальных ювелирных</br>
            украшений. Обозначение коллекций условно,</br>
            поскольку украшения создаются стихийно,</br>
            руководствуясь вдохновением и найденными</br>
            материалами.