section.collection__inner.collect-two.moving-block
    div.collection__container
        div.collection__text-container
            p.collection__copyright.
                фотограф: <span class="collection__copyright--italic">Екатерина Туркина</span></br>
                модель: <span class="collection__copyright--italic">Анастасия Третьякова</span>
            p.collection__text.
                Осенне — зимняя коллекция была</br>
                снята в полузаброшенной подмос-</br>
                ковной усадьбе <span class="collection__text--italic">Горенки.</span> Во второй</br>
                половине XVIII — начале XIX века</br>
                прекрасная усадьба принадлежала</br>
                семье графов <span class="collection__text--italic">Разумовских.</span> На соз-</br>
                дание этой коллекции украшений</br>
                художников вдохновила тема ста-</br>
                рых графских развалин, контраст-</br>
                ное сочетание изящных <span class="collection__text--italic">коринфских</span></br>
                капителей с брутальностью полураз-</br>
                рушенной обнаженной кирпичной</br>
                кладки. Данные фактуры были</br>
                переосмыслены в соврменной</br>
                реальности и воплощены в  неверо-</br>
                ятные и причудливые формы укра-</br>
                шений, достойные современных</br>
                графов и графинь.
            p.collection__date.collect-four__date.
                2015</br>
                ОСЕНЬ</br>
                /</br>
                ЗИМА
        div.collect-four__container-image
            img.collect-four__img.moved-image(src="coll-four-1.jpg" width="211" height="167")
            img.collect-four__img.moved-image(src="coll-four-2.jpg" width="211" height="229")
            img.collect-four__img.moved-image(src="coll-four-3.jpg" width="211" height="298")
            img.collect-four__img.moved-image(src="coll-four-4.jpg" width="211" height="270")
            img.collect-four__img.moved-image(src="coll-four-5.jpg" width="378" height="252")
            img.collect-four__img.moved-image(src="coll-four-6.jpg" width="160" height="240")
            img.collect-four__img.moved-image(src="coll-four-7.jpg" width="107" height="160")


