section.collection__inner.collect-four.moving-block
    div.collection__container.timeline-block
        div.collection__text-container
            p.collection__copyright.
                фотограф: <span class="collection__copyright--italic">Екатерина Туркина</span></br>
                модель: <span class="collection__copyright--italic">Анастасия Третьякова</span>
            pre.collection__text.collect-four__text.
                Осенне — зимняя коллекция была
                снята в полузаброшенной подмос-
                ковной усадьбе <span class="collection__text--italic">Горенки.</span> Во второй
                половине XVIII — начале XIX века
                прекрасная усадьба принадлежала
                семье графов <span class="collection__text--italic">Разумовских.</span> На соз-
                дание этой коллекции украшений
                художников вдохновила тема ста-
                рых графских развалин, контраст-
                ное сочетание изящных <span class="collection__text--italic">коринфских</span>
                капителей с брутальностью полураз-
                рушенной обнаженной кирпичной
                кладки. Данные фактуры были
                переосмыслены в соврменной
                реальности и воплощены в  неверо-
                ятные и причудливые формы укра-
                шений, достойные современных
                графов и графинь.
            p.collection__date.collect-four__date.
                2015</br>
                ОСЕНЬ</br>
                /</br>
                ЗИМА
        div.collect-four__container-image
            img.collect-four__img.moved-image(src="coll-four-1.jpg" width="211" height="167")
            img.collect-four__img.moved-image(src="coll-four-2.jpg" width="212" height="329")
            img.collect-four__img.moved-image(src="coll-four-3.jpg" width="211" height="298")
            img.collect-four__img.moved-image(src="coll-four-4.jpg" width="211" height="270")
            img.collect-four__img.moved-image(src="coll-four-5.jpg" width="378" height="252")
            img.collect-four__img.moved-image(src="coll-four-6.jpg" width="160" height="240")
            img.collect-four__img.moved-image(src="coll-four-7.jpg" width="107" height="160")


