#timeline {
  position: relative;

  width: 1280px;
  margin: 0 auto;
}

.timeline  {
    padding: 0;
    margin: 0;

    z-index: 0;


    list-style: none;

    li {
      margin-bottom: 19px;

      a {
        text-decoration: none;

        font-family: AkzidenzGroteskPro-Light, sans-serif;
        font-size: 15px;
        line-height: 19px;
        font-weight: 300;
        letter-spacing: 3.44px;
        color: white;
      }
    }
}
