div.timeline
    ul
        li
            span.full /14
            span 2014
        li
            span.short /15
            span.full 2015
        li
            span.short /16
            span.full 2016
        li
            span.short /17
            span.full 2016
        li
            span.short /18
            span.full 2018