header.main-header
    nav.main-nav
        ul.main-nav__list.nav-list
            li.nav-list__item
                a.nav-list__link(href="#")
                    | История
            li.nav-list__item
                a.nav-list__link(href="#")
                    | Коллекции
            li.nav-list__item
                a.nav-list__link(href="#")
                    | Контакты
    div.main-header__video
        video