header.main-header
    nav.main-nav
        ul.main-nav__list.nav-list
            li.nav-list__item
                a.nav-list__link(href="#")
                    | Творчество
            li.nav-list__item
                a.nav-list__link(href="#")
                    | Художники
            li.nav-list__item
                a.nav-list__link(href="#")
                    | Контакты
    div.main-header__video
        video(src="video.mp4" width="1280" height="720" autoplay loop)
