doctype html
html(lang="ru")
    head
        link(rel="stylesheet" href="main.min.css")
        meta(charset="UTF-8")
    body
        include header/header
        main.main
            include history/history-one

            include history/history-two

            section.main__collect.collection

                include collection/collection-one

                div.moving-block__wrap
                    include collection/collection-two

                div.moving-block__wrap
                    include collection/collection-tree

                div.moving-block__wrap
                    include collection/collection-four

                div.moving-block__wrap
                    include collection/collection-five

                div.moving-block__wrap
                    include collection/collection-six

                include timeline/timeline
        //svg(width="0" height="0")
        //    defs
        //        clipPath(viewBox="0 0 234 143" id="svg" )
        //            path( transform="translate(-313.000000, -142.000000)" id="svg" d="M 375.7 142.8 c -29.5 -1.5 -48 3.2 -55.5 14.2 c -11.3 16.5 -8 46.6 8.3 53.7 c 16.4 7.1 -8.9 23.1 9.2 34.3 c 18.1 11.1 33.8 8.9 59 8.9 c 16.8 0 46.7 -1.6 89.8 -4.8 V 142.8 H 375.7 z")

        script(src="index.js")