doctype html
html(lang="ru")
    head
        link(rel="stylesheet" href="main.min.css")
        meta(charset="UTF-8")
    body
        include header/header
        main.main
            include history/history-one

            include history/history-two

            section.main__collect.collection

                div.moving-block__wrap
                    include collection/collection-one

                div.moving-block__wrap
                    include collection/collection-two

                div.moving-block__wrap
                    include collection/collection-tree

                div.moving-block__wrap
                    include collection/collection-four

                div.moving-block__wrap
                    include collection/collection-five

                div.moving-block__wrap
                    include collection/collection-six


        script(src="index.js")