footer.main-footer
    div.main-footer__container
        h3.main-footer__title
            | Контакты
        pre.main-footer__text.
            В 2016 году <span class="main-footer__text--italic">Mineral weather</span> совместно
            с шестью другими ювелирными марками
            открыли магазин шоурум <span class="main-footer__text--italic">Амперсанд,</span>
            расположенный по адресу: улица Большая
            Дмитровка, дом 32, офис 200.
        pre.main-footer__copyright.
            mineral_weather.ru
            post@mineralweather.com
            8 (926) 376-19-24