section.main__history.history.history--one
    h2.history__title.visually-hidden
        | История
    div.history__container.moving-block.moving-block--history
        div.history__image-container--left
            img.history__image.moved-image(src="1.jpg" width="284" height="190")
            img.history__image.moved-image(src="2.jpg" widht="113" height="76")
            img.history__image.moved-image(src="4.jpg" widht="281" height="188")
        div
            h3.history__title--inner
                | История

            p.history__text.history__text--one.
                Дуэт художников-алхимиков <span class="history__text--italic">Александра Ольховского</span><br>
                и <span class="history__text--italic">Анны Павловой</span> постоянно экспериментирует с матер-<br>
                иалами и творит свою «погоду» из необработанных кам-<br>
                ней, природных металлов, гипса, цемента, пластика.<br>
                У марки цельный стиль, но пытливый взгяд найдет раз-<br>
                ницу. Анины работы — нежные, аккуратненькие<br>
                цветочки; ее руками сделана вся керамика, в том числе<br>
                фарфоровые елочные игрушки в виде персонажей<br>
                «Теремка», броши. На Сашиной совести более бру-<br>
                тальные вещи: все украшения с камнями, серьги-<br>
                сперматозоиды. Место для своего шоурума они выбрали<br>
                удивительно похожее на свои украшения. На тер-<br>
                ритории завода <span class="history__text--italic">НИИДАР</span> снимают помещения, офисы<br>
                и производства, но то, что вы ищете, снаружи напоми-<br>
                нает пещеру горного короля. Внутри сполна виден<br>
                талант <span class="history__text--italic">MW</span> преобразовывать куски беспризорного<br>
                вещества в дикую красоту: строительный мусор скла-<br>
                дывается в интерьерные решения. Первые кольца<br>
                <span class="history__text--italic">Mineral Weather</span> художники делали в гараже, устроив<br>
                в нем литейный цех. Все начиналось с алюминия<br>
                и керамики, потом появились камни и оловянная бронза.
        div.history__image-container--right.miving-image-block
            img.history-image.moved-image(src="3.jpg" widht="285" height="427")