section.main__history.history.history--two
    div.history__container.moving-block.moving-block--history
        div.history__text
            pre.
                <span class="history__text--italic">Саша:</span> С Аней мы познакомились в моей
                студии на <span class="history__text--italic">Арме</span> в 2010 году — и через год
                создали <span class="history__text--italic">Mineral Weather.</span> Я учился на теле-
                визионного инженера, работал пять лет
                в новостях, сутки через трое, куча свобод-
                ного времени была. Было время творить.
                Название было придумано в аппаратной
                программы <span class="history__text--italic">Время</span> ещё в 2009 году, тогда
                я сделал кучу наброс-ков в блокноте.
                Название вообще никак не связано с ми-
                нералами — оно, скорей, про
                минеральную воду. Я даже придумал
                рекламу, которую мы пока так и не
                сделали: девушка откры-вает бутылку
                минералки, а на ней этикетка <span class="history__text--italic">Mineral
                Weather.</span> Всю жизнь считал себя худож-
                ником, смотрел в детстве видео <span class="history__text--italic">Марата
                Ка</span> по телеку, кучу всего рисовал, но не
                учился никогда в сфере искусства, кроме
                курсов МАРХИ, на которые так
                и не доходил.
        div.history__image-container
            img.history__image.moved-image(src="5.jpg" width="213" height="143")
            img.history__image.moved-image(src="6.jpg" width="210" height="140")
        div.history__text
            pre.
                <span class="history__text--italic">Аня:</span> Я закончила керамику в <span class="history__text--italic">МГХПА
                имени Строганова</span> в 2014 году. Шесть лет
                там училась и постоянно была по уши
                в глине. Когда мы с Сашей встретились,
                стало сразу же понятно, что нам нужно
                делать что-то вместе. Я владела техникой
                и знанием технологий, а у Саши был беско-
                нечный поток идей и энергии. После того
                как студия на <span class="history__text--italic">Арме</span> распалась, Саша
                пытал-ся придумать какое-то дело,
                которое бы могло помочь
                самовыражаться и прино-сило доход.
                Ювелирка казалась макси-мально
                компактным занятием. Не было денег
                снимать помещение, работать при-
                ходилось дома. Саша тогда лепил
                смешные кольца из пластилина, потом
                начал интересоваться технологией, купил
                воск специальный ювелирный, подсунул
                мне его, сказал: <span class="history__text--italic">«Делай — у тебя
                получится».</span>