section.main__history.history.history--one
    h2.history__title.visually-hidden
        | История
    div.history__container.moving-block.moving-block--history
        div.history__image-container--left
            img.history__image.moved-image(src="1.jpg" width="279" height="186")
            img.history__image.moved-image(src="4.jpg" widht="279" height="188")
        div
            h3.history__title--inner
                | История
            pre.history__text.history__text--one.
                Дуэт художников-алхимиков <span class="history__text--italic">Александра Ольховского</span>
                и <span class="history__text--italic">Анны Павловой</span> постоянно экспериментирует с матер-
                иалами и творит свою «погоду» из необработанных кам-
                ней, природных металлов, гипса, цемента, пластика.
                У марки цельный стиль, но пытливый взгяд найдет раз-
                ницу. Анины работы — нежные, аккуратненькие цветочки;
                ее руками сделана вся керамика, в том числе фарфоровые
                елочные игрушки в виде персонажей «Теремка», броши.
                На Сашиной совести более бру- тальные вещи:
                все украшения с камнями, серьги- сперматозоиды. Место
                для своего шоурума они выбрали удивительно похожее
                на свои украшения. На тер- ритории завода <span class="history__text--italic">НИИДАР</span> сни-
                мают помещения, офисы и производства, но то, что вы
                ищете, снаружи напоминает пещеру горного короля.
                Внутри сполна виден талант <span class="history__text--italic">MW</span> преобразовывать куски
                беспризорного вещества в дикую красоту: строительный
                мусор складывается в интерьерные решения. Первые
                кольца <span class="history__text--italic">Mineral Weather</span> художники делали в гараже,
                устроив в нем литейный цех. Все начиналось с алюминия
                и керамики, потом появились камни и оловянная бронза.
        div.history__image-container--right.miving-image-block
            img.history-image.moved-image(src="3.jpg" widht="285" height="427")