section.main__history.history.history--two
    div.history__container.moving-block.moving-block--history
        div.history__text.
            <span class="history__text--italic">Саша:</span> С Аней мы познакомились в моей<br>
            студии на <span class="history__text--italic">Арме</span> в 2010 году — и через год<br>
            создали <span class="history__text--italic">Mineral Weather.</span> Я учился на теле-<br>
            визионного инженера, работал пять лет<br>
            в новостях, сутки через трое, куча свобод-<br>
            ного времени была. Было время творить.<br>
            Название было придумано в аппаратной<br>
            программы <span class="history__text--italic">Время</span> ещё в 2009 году, тогда<br>
            я сделал кучу наброс-ков в блокноте.<br>
            Название вообще никак не связано с ми-<br>
            нералами — оно, скорей, про минеральную<br>
            воду. Я даже придумал рекламу, которую<br>
            мы пока так и не сделали: девушка откры-<br>
            вает бутылку минералки, а на ней этикетка<br>
            <span class="history__text--italic">Mineral Weather.</span> Всю жизнь считал себя<br>
            худож-ником, смотрел в детстве видео<br>
            <span class="history__text--italic">Марата Ка</span> по телеку, кучу всего рисовал,<br>
            но не учился никогда в сфере искусства,<br>
            кроме курсов МАРХИ, на которые так<br>
            и не доходил.
        div.history__image-container
            img.history__image.moved-image(src="5.jpg" width="213" height="143")
            img.history__image.moved-image(src="6.jpg" width="210" height="140")
        div.history__text.
            <span class="history__text--italic">Аня:</span> Я закончила керамику в <span class="history__text--italic">МГХПА<br>
            имени Строганова</span> в 2014 году. Шесть лет<br>
            там училась и постоянно была по уши<br>
            в глине. Когда мы с Сашей встретились,<br>
            стало сразу же понятно, что нам нужно<br>
            делать что-то вместе. Я владела техникой<br>
            и знанием технологий, а у Саши был беско-<br>
            нечный поток идей и энергии. После того<br>
            как студия на <span class="history__text--italic">Арме</span> распалась, Саша пытал-<br>
            ся придумать какое-то дело, которое бы<br>
            могло помочь самовыражаться и прино-<br>
            сило доход. Ювелирка казалась макси-<br>
            мально компактным занятием. Не было<br>
            денег снимать помещение, работать при-<br>
            ходилось дома. Саша тогда лепил смешные<br>
            кольца из пластилина, потом начал<br>
            интересоваться технологией, купил воск<br>
            специальный ювелирный, подсунул мне<br>
            его, сказал: <span class="history__text--italic">«Делай — у тебя получится».</span>